<h1>Liste des routes</h1>
<table border=1>
<tr>
    <th>libelle</th><th>Formule</th>
</tr>
    <% @roads.each do |road|%>
        <tr>
            <td>
                <%= road['nom'] %>
            </td>
            <td>
                <%= road['formule'] %>
            </td>
            <td>
                <button>Changer la formule</button>
            </td>
            <td>
                <button>Trier les prestataires</button>
            </td>
        </tr>
    <% end %>
</table>
